@import '../../styles/mixins.scss';

.new-todo{
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: 2px solid black;
}
.new-todo-wrap{
  width: 100%;
}


@include tablet{
  .new-todo-wrap{
    width: 25rem;
  }
}
